.root {
  background-color: var(--background-dark);
  color: white;
  padding: 16px;
  box-shadow: 0 3px 9px 0 #00000050;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .github svg {
  width: 2em;
  height: 2em;
  fill: white;
  display: block;
}

.text > h1 {
  display: inline;
}
.text > :not(h1) {
  font-size: 22px;
  letter-spacing: 2;
}
.text > :not(:last-child) {
  margin-right: 8px;
}